<html ng-app="streamPoll">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="http://cdn.jsdelivr.net/restangular/1.1.3/restangular.min.js"></script>
<script src="http://cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>

<script type="text/javascript">
var streamPoll = angular.module('streamPoll',["restangular"]);

// streamPoll.controller("MainCtrl",["Restangular","$scope",function(Restangular,$scope){
//       var resource = Restangular.all('api/v1/stream/');
//       resource.getList().then(function(streams){
//         $scope.streams = streams.objects;
//       });
// }])
// streamPoll.controller('Ctrl1', ["Restangular","$scope","$timeout",function(Restangular,$scope, $timeout) {
//    $scope.value = 1;
//     var poll = function() {
//         $timeout(function() {
//             $scope.value++;
//             var resource = Restangular.all('api/v1/stream/');
//             resource.getList().then(function(streams){
//               $scope.streams = streams.objects;
//             });
//             poll();
//         }, 1000);
//     };
//    poll();
// }]);
streamPoll.controller('MainCtrl', ["Restangular","$scope","$timeout",function(Restangular,$scope, $timeout) {
   $scope.loads = 1;
   $scope.atTime = new Date();
   var resource = Restangular.all('api/v1/stream/');
   resource.getList().then(function(streams){
     $scope.streams = streams.objects;
   });
    var poll = function() {
        $timeout(function() {
            $scope.loads++;
            $scope.atTime = new Date();
            var resource = Restangular.all('api/v1/stream/');
            resource.getList().then(function(streams){
              $scope.streams = streams.objects;
            });
            poll();
        }, 10000);
    };
   poll();
}]);
// streamPoll.controller("MainCtrl",["Restangular","$scope",function(Restangular,$scope,$timeout){
//   var poll = function(){
//     $timeout(function() {
//       var resource = Restangular.all('api/v1/stream/');
//       resource.getList().then(function(streams){
//         $scope.streams = streams.objects;
//         poll();
//       });
//     }, 1000);
//   };
//   poll();
// }])
// angularExample.controller("MainCtrl",["Restangular","$scope",function(Restangular,$scope){
//   var resource = Restangular.all('api/v1/stream/')
//   resource.getList().then(function(streams){
//     $scope.streams = streams.objects;
//   });
// }])
</script>
<style>
table.status {width: 100%;}
table.status td {text-align: center;}
table.status tr.inactive {background-color: orange;}
table.status tr.active {background-color: green;}
table.status tr.created {background-color: green;}
table.status tr.error {background-color: red;}
table.status tr.ready {background-color: yellow;}

table.status tr.noData td {color: grey;}
table.status tr.bad td {color: red;}
table.status tr.ok td {color: black;}
table.status tr.good td {color: yellow;}
</style>
</head>

<body>

{% verbatim %}
<table data-ng-controller="MainCtrl" class="status">
    <tr>
      <th>Health</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
    <tr data-ng-repeat="stream in streams" class="{{ stream.health }} {{ stream.status }}">
      <td>{{ stream.health }}</td>
      <td>{{ stream.name }}</td>
      <td>{{ stream.status }}</td>
    </tr>
    <tr>
      <td colspan="3">
        <div style="float: left;"> Page Loads: {{ loads }}</div>
        <div style="float: right;">Last Loaded: {{ atTime.toTimeString() }}</div>
      </td>
    </tr>
</table>
{% endverbatim %}
</body>
</html>
